#!/usr/bin/make -f
export DH_VERBOSE = 1

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/lib/helm

%:
	dh $@

override_dh_auto_build:

	cp Makefile helm
	cd helm && make csi-powerstore

override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 helm/csi-powerstore*.tgz $(APP_FOLDER)

override_dh_auto_test:
